{% extends "main.html" %}
{% load static %}

{% block content %}


{% include 'add_search.html' with search='profile-list' add='register' filter=profiles_filter placeholder='Search' %}


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">KTP</th>
      <th scope="col">Organization</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    {% if profiles %}
    {% for profile in profiles %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'profile-update' profile.id %}">{{profile.first_name}}</a></td>
      <td>{{profile.last_name}}</td>
      <td>{{profile.uid}}</td>
      <td>{{profile.organization}}</td>
      <td>{{profile.role.name}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>


{% endblock %}
