{% extends "main.html" %}
{% load static %}

{% block content %}



{% include 'add_search.html' with search='vehicle-list' add='vehicle-create' filter=vehicles_filter %}

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Vehicle Id</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Battery</th>
    </tr>
  </thead>
  <tbody>
    {% if vehicles %}
    {% for vehicle in vehicles %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'vehicle-update' vehicle.id %}">{{vehicle.vehicle_id}}</a></td>
      <td>{{vehicle.make}}</td>
      <td>{{vehicle.model}}</td>
      <td>{{vehicle.battery_id}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
