{% load static %}
<!DOCTYPE html>
 <html lang="en">


<head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="iMOTO - Electric Vehicles and EV based technology" />
		<meta name="description" content="iMOTO - Electric Vehicles and EV based technology" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>IMOTO</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

		<!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    





        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'css/home_style.css' %}" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
            <div class="load-circle">
            </div>
        </div>

    	<!-- End Loading ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Navbar -->

		<nav class="navbar navbar-expand-lg">
			<div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{% static 'img/logo-light.png' %}" alt="logo">
            </a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
			      </li>
			      <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="1">About</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="2">Services</a>
			      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="3">Our Goal</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="{% static 'img/bg.jpg' %}" data-stellar-background-ratio="0.5">

    		<div class="container">
    			<div class="row">
    				<div class="offset-lg-1 col-lg-10 text-center caption mt-50">

                        <h1 class="cd-headlines clip">
                            <img src="{% static 'img/welcome-text.png' %}"/>
                                                    </h1>

                        <a href="#0" class="butn mt-30" data-scroll-nav="1">About Us</a>
    				</div>
    			</div>
    		</div>
    	</header>

    	<!-- End Header ====
    	======================================= -->



        <!-- =====================================
        ==== Start Hero -->

        <section class="hero section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="section-head text-center col-lg-12">
                        <h3>About Us</h3>
                        <span><i></i><i></i><i></i></span>
                    </div>
                    <div class="col-lg-5">
                        <div class="hero-img mb-md50">
                            <div class="img">
                                <img src="{% static 'img/hero.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="content">

                            <p class="mb-10 mt-70">New Intracity transport and delivery experience begins with our eco-friendly electric vehicles and connected technologies. </p>
                            <p class="mb-10">Our products and technologies are increasing the efficiencies in the sector and eliminating transport emissions in Indonesia.</p>
                            <p>Our business is to make mobility carbon-free and competitive for ride share, last-mile delivery for local merchants, e-commerce giants and logistic providers.</p>

                            <a href="#0" class="butn mt-30" data-scroll-nav="6">Contact Us</a>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Hero ====
        ======================================= -->

        <!-- =====================================
        ==== Start Services -->

        <section class="services section-padding" data-scroll-index="2">
            <div class="container">
                <div class="row">

                    <div class="section-head text-center col-lg-12">
                        <h3>Services</h3>
                        <span><i></i><i></i><i></i></span>
                    </div>

                   <p class="mb-10 ">We are redesigning the current complex delivery system and connects hubs, scooter suppliers, riders, and service centres to one platform.
We provide the integrated electric vehicle and fleet management platform for delivery agencies and ride share companies to make their work easier and smarter.</p>
<p class=" mb-10">Carbon-Zero electric mobility platform is future ready to enable transition to clean and smarter mobility. Vehicle subscription, delivery/ride partner management, payment and maintenance centres are all connected to our integrated system.</p>

                </div>
            </div>
        </section>

        <!-- End Services ====
        ======================================= -->


        <!-- =====================================
        ==== Start Numbers -->

        <div class="numbers bg-img bg-fixed" data-overlay-dark="5" data-background="{% static 'img/1.jpg' %}">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="item text-center mb-md50">
                            <span class="icon ti-location-pin"></span>
                            <h4 class="count">Coming Soon</h4>
                            <h6>Locate a charging point near you</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item text-center mb-md50">
                            <span class="icon ti-layers-alt"></span>
                            <h4 class="count">Coming Soon</h4>
                            <h6> Fleet Managers</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item text-center mb-sm50">
                            <span class="icon ti-import"></span>
                            <h4 class="count">Coming Soon</h4>
                            <h6> Apps Downloaded</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item text-center">
                            <span class="icon ti-cloud-down"></span>
                            <h4 class="count">Coming Soon</h4>
                            <h6>Emissions reduced</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- End Numbers ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works -->

        <section class="works section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row">

                    <div class="section-head text-center col-lg-12">
                        <h3>Our Goal</h3>
                        <span><i></i><i></i><i></i></span>
                    </div>

                   <p class="mb-10 ">The future of mobility is electric. The future is here. Transport sector is a key pillar to the economic progress of a nation. We are improving lives by eliminating carbon, increasing efficiency and making mobility more sustainable. </p>

                </div>
            </div>
        </section>

        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        <footer class="bg-img bg-fixed" data-scroll-index="6" data-overlay-dark="8" data-background="{% static 'img/3.jpg' %}">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="item">
                            <span class="icon ti-mobile"></span>
                            <h6>Phone</h6>
                            <p>+62 856-7329-543</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item">
                            <span class="icon ti-map"></span>
                            <h6>Address</h6>
                            <p>EightyEight@Kasablanka Tower, A Lantai 10, Unit E, Jalan Raya Casablanca Kav 88, Jakarta, 12870 </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item">
                            <span class="icon ti-email"></span>
                            <h6>Email</h6>
                            <p>business@imoto.tech</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sub-footer">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="copy text-center">

                                <p>&copy; 2022 IMOTO. All Rights Reserved.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

        <!-- End Footer ====
        ======================================= -->





        <!-- jQuery -->
        <script src="{% static 'js/base_js/jquery-3.0.0.min.js' %}"></script>
        <script src="{% static 'js/base_js/jquery-migrate-3.0.0.min.js' %}"></script>

        <!-- popper.min -->
        <script src="{% static 'js/base_js/popper.min.js' %}"></script>

        <!-- bootstrap -->
        <script src="{% static 'js/base_js/bootstrap.min.js' %}"></script>

        <!-- animated.headline -->
        <script src="{% static 'js/base_js/animated.headline.js' %}"></script>

        <!-- scrollIt -->
        <script src="{% static 'js/base_js/scrollIt.min.js' %}"></script>

        <!-- jquery.waypoints.min -->
        <script src="{% static 'js/base_js/jquery.waypoints.min.js' %}"></script>

        <!-- jquery.counterup.min -->
        <script src="{% static 'js/base_js/jquery.counterup.min.js' %}"></script>

        <!-- owl carousel -->
        <script src="{% static 'js/base_js/owl.carousel.min.js' %}"></script>

        <!-- jquery.magnific-popup js -->
        <script src="{% static 'js/base_js/jquery.magnific-popup.min.js' %}"></script>

        <!-- stellar js -->
        <script src="{% static 'js/base_js/jquery.stellar.min.js' %}"></script>

        <!-- isotope.pkgd.min js -->
        <script src="{% static 'js/base_js/isotope.pkgd.min.js' %}"></script>

        <!-- validator js -->
        <script src="{% static 'js/base_js/validator.js' %}"></script>

        <!-- custom scripts -->
        <script src="{% static 'js/base_js/scripts.js' %}"></script>

    </body>

</html>
