{% extends "main.html" %}
{% load static %}

{% block content %}



{% include 'add_search.html' with search='battery-list' add='battery-create' filter='battery_filter' %}

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Battery Number</th>
      <th scope="col">Battery Capacity</th>
    </tr>
  </thead>
  <tbody>
    {% if batteries %}
    {% for battery in batteries %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'battery-update' battery.id %}">{{battery.battery_number}}</a></td>
      <td>{{battery.capacity}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
