{% extends "main.html" %}
{% load static %}

{% block content %}





{% if request.user.is_admin %}
<div class="input-group" style="width:100%; padding:10px;">
  <form action="{% url 'battery-list'  %}" style="width:33%; flex:none float:left;" method="GET">
      <input type="text" name="search" class="form-control rounded"  placeholder="Search for Batteries" value="{{ battery_filter.form.search.value|default:'' }}">
</form>

  <div class="" style="width:55%; flex:none float:left;"></div>

  <div  class="btn btn-success" style="width:7%; flex:none float:left; ">
    <a href="{% url 'battery-create' %}" style="color:white">ADD</a>
  </div>


</div>


{% endif %}

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Battery Number</th>
      <th scope="col">Battery Capacity</th>
    </tr>
  </thead>
  <tbody>
    {% if batteries %}
    {% for battery in batteries %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'battery-update' battery.id %}">{{battery.battery_number}}</a></td>
      <td>{{battery.capacity}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
