{% if request.user.is_admin %}
<div class="input-group" style="width:100%; padding:10px;">
  <form action="{% url search  %}" style="width:33%; flex:none float:left;" method="GET">
      <input type="text" name="search" class="form-control rounded"  placeholder={{placeholder}} value="{{ filter.form.search.value|default:'' }}">
</form>

  <div class="" style="width:55%; flex:none float:left;"></div>

  <div  class="btn btn-success" style="width:7%; flex:none float:left; ">
    <a href="{% url add %}" style="color:white">ADD</a>
  </div>


</div>


{% endif %}
