{% extends "main.html" %}
{% load static %}

{% block content %}



{% include 'add_search.html' with search='device-list' add='device-create' filter='device_filter' %}

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">IMEI Number</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {% if devices %}
    {% for device in devices %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'device-update' device.id %}">{{device.imei_number}}</a></td>
      <td>{{device.device_type}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
