{% extends "main.html" %}
{% load static %}

{% block content %}



<div class="input-group" style="width:100%; padding:10px;">
  <form action="{% url 'device-list'  %}" style="width:33%; flex:none float:left;" method="GET">
      <input type="text" name="search" class="form-control rounded"  placeholder="Search for device" value="{{ batteries_filter.form.search.value|default:'' }}">
</form>

  <div class="" style="width:55%; flex:none float:left;"></div>


  <div  class="btn btn-success" style="width:7%; flex:none float:left; ">
    <a href="{% url 'device-create' %}" style="color:white">ADD</a>
  </div>
</div>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">IMEI Number</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {% if devices %}
    {% for device in devices %}
    <tr>
      <th scope="row"></th>
      <td><a href="{% url 'device-update' device.id %}">{{device.imei_number}}</a></td>
      <td>{{device.device_type}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-data">
    <td colspan="14">No Record !!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
